body {
	font-family: 'Lato', sans-serif;
	margin-left: 40px;
}

span{
	color: orange;
}

.icons a:hover{
	background-color: #fff;
	color: #2b4a64;
}
.icons a:visited { 
    color: #fff;
}
/*HEADER*/
#header .main_header_content{
	position: relative;
}

/*lewa ikonka*/
#header .main_header_content .left_header_content{
	position: relative;
	display: inline-block;
	font-size: 70px;
	height: 70px;
	width: 70px;
	padding: 5px;
	margin: 5px;
	line-height: 10px;
	text-align: center;
}

/*content po prawej*/
#header .main_header_content .right_header_content{
	position: relative;
	display: inline-block;
}

#header .main_header_content .right_header_content{
	margin: 0;
	padding: 0;
	line-height: 5px;
}

#header .main_header_content .right_header_content a{
	font-size: 30px;
}

/*spis zadań*/
#main_content{
	position: relative;
	margin-top: 30px;
	width: 600px;
}

#main_content a{
	text-decoration: none;
}
#main_content_list{
	margin-bottom: 100px;
}

/*ZADANIA*/
#main_content{
	width: 100%;
}

#main_content #main_content_list{
	width: 100%;
	position: relative;
}

#main_content #main_content_list .singe_homework{
	height: 300px;
	width: 35%;
	position: relative;
	float: left;

}

#main_content #main_content_list #singe_homework_solution{
	height: 300px;
	width: 60%;
	position: relative;
	float: left;
	margin-top: 2.5%;
	margin-left: 50px;
}

#main_content #main_content_list #singe_homework_solution #kwadrat{
	width: 200px;
	height: 200px;
	background-color: red;
	display: block;
 	position: relative;
	margin-left: 200px;
}

h2{
	font-size: 16px;
	color: white;
	margin: 0.5%;
	text-align: center;
}